//theme colors
$primary: #FF7F5C;
$secondary: #F4DBD4;
$text-color: #3D5161;

$loss: #FF7F5C;
$profit: #00CBC0;
$white: white;
$bgColor: #F9F5F3;
$cyan: #00CBC0;
$lightCyan: #00CBC033;
$paleTurquoise: #009ACF33;

