<nav class="side-nav">
  <div class="logo">
    <mat-icon svgIcon="PMS" class="logo-icon"></mat-icon>
  </div>

  <div class="side-menu-options">
    <mat-icon svgIcon="controlRoom" class="icon" ></mat-icon>

    <mat-icon svgIcon="dashboard" class="icon" ></mat-icon>

    <mat-icon svgIcon="elements" class="icon" ></mat-icon>

    <mat-icon svgIcon="settings" class="icon" ></mat-icon>

    <mat-icon svgIcon="notifications" class="icon" ></mat-icon>
  </div>

  <div class="logout">
    <mat-icon svgIcon="logout" class="logout-icon"></mat-icon>
  </div>
</nav>
